[Desktop Entry]
Name=Cosmic Marketwatch
Comment=Real-time stock market ticker for the COSMIC desktop
Type=Application
Icon=com.github.MiracleForge.cosmic-marketwatch
Exec=/app/launch-applet.sh
Terminal=false
StartupNotify=true
Categories=COSMIC;
Keywords=COSMIC
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
